.modal-open.btn:focus,
.modal .modal-dialog .btn-close:focus,
.modal .notify-item .notify-close:focus {
  box-shadow: none;
}

.modal .modal-dialog .modal-content {
  max-height: 98vh;
  overflow-y: auto;
}

.modal .modal-dialog .modal-header {
  border-bottom-width: 0;
}

.modal .modal-dialog .modal-footer {
  border-top-width: 0;
}

.modal .modal-dialog .btn-close {
  background-color: var(--light);
  margin-left: 0;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal .modal-dialog .modal-header .modal-title {
  margin-left: auto;
  margin-right: auto;
  color: var(--dark);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 31.68px */
  letter-spacing: -0.48px;
}

.modal .modal-content::-webkit-scrollbar {
  display: none;
}

.modal .modal-dialog .modal-body::-webkit-scrollbar {
  display: none;
}

.modal .modal-dialog .modal-body.notify-body {
  height: 100%;
  overflow-y: auto;
}

.modal .modal-dialog .modal-body.notify-body > * + * {
  margin-top: 10px;
}

.modal .notify-item {
  display: flex;
  align-items: start;
  background-color: #eff5fe;
  gap: 12px;
  padding: 16px;
  border-radius: 18px;
}

.modal .notify-item .notify-details {
  margin-right: auto;
}

.modal .notify-item .notify-details .notify-title {
  color: #121715;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  margin-bottom: 5px;
  letter-spacing: -0.4px;
}

.modal .notify-item .notify-details .notify-data {
  color: #6b7280;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 29.52px */
  margin: 0;
}

.modal .notify-item .notify-close {
  padding: 1px 2px;
}

/* upload form styles start */
.upload-form > * + * {
  margin-top: 14px;
}
.img-upload {
  display: flex;
  height: 183px;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 14px;
  border: 1px solid #dbe0eb;
  background: #eff5fe;
}
.img-upload label {
  width: 100%;
  text-align: center;
  color: #252c32;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 164%; /* 22.96px */
}
.img-upload label span {
  color: #6b7280;
}
/* upload form styles end */

/* upload form style start */
.input-control > * + * {
  margin-top: 10px;
}
.input-label {
  color: #121715;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%; /* 23.76px */
  letter-spacing: -0.36px;
}
.input-field {
  border-radius: 14px;
  border: 1px solid #dbe0eb;
  outline: none;
  background: #fff;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
/* upload form style end */

/* button styles start */
.btn {
  display: flex;
  padding: 10px 25px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 164%; /* 26.24px */
  text-transform: capitalize;
}
.btn:focus {
  box-shadow: none;
}
.btn-outline {
  color: #121715;
  border: 1px solid #121715;
  background: transparent;
}
.btn-outline:hover {
  color: #ffffff;
  background: #121715;
}
.btn-pri {
  background-color: #121715;
  color: #ffffff;
}

.btn-pri:hover {
  opacity: 0.8;
  color: #ffffff;
}
/* button styles end */

/* small screen */
@media only screen and (min-width: 640px) {
  .modal .modal-dialog .modal-content {
    max-height: 80vh;
    padding: 24px;
  }
  .modal .notify-item .notify-details .notify-title {
    font-size: 20px;
  }
  .modal .notify-item .notify-details .notify-data {
    font-size: 18px;
  }
  .modal .modal-dialog .modal-body.notify-body > * + * {
    margin-top: 20px;
  }
}
/* medium screen */
@media only screen and (min-width: 768px) {
}
